<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <title>Room Booking at 1aim</title>
  <style type="text/css">
    /* reserved for inline mission-critical styles*/
  </style>
</head>
<body ng-app="RoomApp" ng-cloak>
  <div ng-controller="MainCtrl" layout="column" style="min-height:500px;" ng-cloak>

    <section layout="row" flex>

      <md-sidenav
          class="md-sidenav-left"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')"
          md-whiteframe="4">

        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Search</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl">
          <!-- search form -->
          <form name="companyForm">
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Country</label>
              <md-select ng-model="company.country">
              <!-- repeat for every country in list -->
                <md-option ng-repeat="country in countryListNames" value="{{country.code}}">
                  {{country.name}}
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Company Name</label>
              <input name="name" ng-model="company.name" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">
              <label>Address</label>
              <input name="street" ng-model="company.street" required>
            </md-input-container>

            
            
            <md-input-container class="md-block" flex-gt-sm="">
              <label>Postal Code</label>
              <input name="zip"  placeholder="12345" required ng-model="company.zip">
              <!--
              <div ng-messages="companyForm.zip.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">You must supply a postal code.</div>
                <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                  code.
                </div>
                <div ng-message="md-maxlength" class="my-message">
                  Don't use the long version
                </div>
              </div>
              -->
            </md-input-container>
            

            <md-button class="md-raised md-primary" ng-click="checkNow()" ng-disabled="{{ companyForm.$invalid }}" type="submit">
              Check Now
            </md-button>
          </form>

          <md-button ng-click="close()" class="md-primary" hide-gt-sm>
            Close Search
          </md-button>
        </md-content>

      </md-sidenav>

      <md-content flex>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-click="toggleLeft()"
              class="md-raised" hide-gt-sm aria-label="Search">
              <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h2>
              <span hide-xs>Room Booking</span>
            </h2>
            <md-datepicker ng-model="dateParam" md-placeholder="Enter date" style="color:white;"></md-datepicker>
            <span flex></span>
          </div>
        </md-toolbar>
        <div layout="column" layout-align="top center" layout-padding>

          
          

        </div>

        <div flex></div>

      </md-content>
    </section>

  </div>

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js"></script>
  
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
  
  <!-- Moment.js Library and Angular wrapper -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment-with-locales.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.6/angular-moment.min.js"></script>
  
  <!-- local development file -->
  <script src="index.js"></script>
  
</body>
</html>